<div class="conteiner-contato">
    <div class="titulo">
        <h1></h1>
        <h2>Para quaisquer dúvidas, sugestões entre em contato com nossa equipe. Sua opinião é muito importante!</h2>
    </div>
    <form [formGroup]="formContato" (ngSubmit)="enviarForm()">
        <label>Nome</label>
        <input type="text" id="nome" name="nome" formControlName="nome">
        @if(formContato.get('nome')?.invalid
        && formContato.get('nome')?.touched){
        <p class="invalid">* Campo Obrigatório</p>
        }

        <label>Email</label>
        <input type="email" id="email" name="email" formControlName="email">
        @if(formContato.get('email')?.invalid
        && formContato.get('email')?.touched){
        <p class="invalid">* Campo Obrigatório</p>
        }

        <label>Menssagem</label>
        <textarea name="menssagem" id="menssagem" rows="5" formControlName="mensagem"></textarea>
        @if(formContato.get('mensagem')?.invalid
        && formContato.get('mensagem')?.touched){
        <p class="invalid">* Campo Obrigatório</p>
        }
        <button type="submit">Enviar</button>
    </form>
</div>