<hr style="border-top: 10px solid #ccc; border-radius: 50px 50px 0px 0px ">

<hr style="border: 5px solid brown; border-bottom-left-radius: 10px"> 
<h1>Contador 04</h1>
<p>Valor: {{getValor}}</p>
<h2></h2>
<div id="content" style="background-color: antiquewhite;padding: 5px ;display: flex; flex-direction: column; width: 500px; gap: 10px;" >
<button mat-stroked-button (click)="incrementar()"> INCREMANTAR</button>
<button mat-raised-button  (click)="decrementar()"> DECREMENTAR</button>
<button mat-flat-button    (click)="zerar()">ZERAR</button>
</div>

