<hr style="border: 2px solid brown;"> 
<h1>Contador 02</h1>
<h2>Contador: {{contador}}</h2>
<h2></h2>
<div id="content" style="background-color: antiquewhite;padding: 5px ;display: flex; flex-direction: column; width: 500px; gap: 10px;" >
<button (click)="incrementar()" style=" border-radius: 10px;border: none; background-color: cadetblue; height: 2rem;" >Incremetar!!!</button> 
<button (click)="decrementar()" style=" border-radius: 10px;border: none; background-color: cadetblue; height: 2rem;" >Decrementar!!!</button> 
</div>

