<p>mostrar-dados works!</p>
<div class="container">
    <div id="title">
        <h1>Calculo Quadrado</h1>
        <div id="formulario">
            <form action="">
                <label for="">Base:</label>
                <input type="number" id="base"  name="base" formControlName="base">
                
                <label for="">Altura:</label>
                <input type="number" id="altura" name="altura" formControlName="altura">

                <!-- <button (click)="calcular()">Calcular</button> -->
            </form>

        </div>
    </div>
</div>